.black {
    background-color: #030100;
}

.light-orange {
    background-color: #d14a15;
}

.med-orange {
    background-color: #c84009;
}

.dark-orange {
    background-color: #b43908;
    color: white;
}

.purple {
    background-color: #b890d6;
}

a {
    color: #4c0791;
}